*, ::before, ::after {
    box-sizing: border-box;
}


body {
    background-color: #f3f3f3;
    font-family: Bahnschrift, serif;
}

body > header {
    background-color: rgb(141 197 235);
    color: black;
    padding: 1em;
    display: flex;
    align-items: center;
}

body > header {
    background-color: rgb(141 197 235);
    color: black;
    padding: 1em;
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
}

body > header > #row > a:link {
    color: black;
}

body > header > #row > a:active {
    color: black;
}

body > header > #row > a:visited {
    color: black;
}

body > header > #row > a:hover {
    color: black;
}

.hd-ttl {
    font-size: 50px;
    color: white;
    text-decoration-color: white;
    text-decoration: none;
    padding-left: 1rem;
}

.ft {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-txt > a {
    padding-inline: 2em;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

.ft-txt > a:hover {
    text-decoration: underline;
}

.ft-txt {
    padding-block: 1rem;
    color: white;
    text-transform: uppercase;
}

.back-top {
    position: absolute;
    right: 40px;
    text-transform: uppercase;
}

.back-top > a {
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

.back-top > a:hover {
    text-decoration: underline;
}

*, ::before, ::after {
    box-sizing: border-box;
}