*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #f3f3f3;
    font-family: Bahnschrift, serif;
    padding-bottom: 60px;
}

header {
    background-color: rgb(141 197 235);
    color: black;
    padding: 1em;
    display: flex;
    align-items: center;
}

i {
    text-decoration:none;
    color: black;
}

.hd-ttl {
    padding-left: 0.5em;
    text-decoration: none;
    color: black;
    font-size:50px;
}

.username-div {
    width: 100%;
}

.user-name {
    color: black;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 0.2em;
}

.img-name {
    float: right;
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
}

.container2,button > a:link {
    color: black;
}

.container2,button > a:active {
    color: black;
}

.container2,button > a:visited {
    color: black;
}

.container2,button > a:hover {
    color: black;
}

.login {
    width: 100%;
    display: block;
}

.login_form {
    float: right;
    margin-block-end: 0;
}

.btn {
    background-color: rgb(141 197 235);
    color:black;
    border: none;
    font-size: 15px;
}

.btn > a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10em;
}

.all-content {
    position: relative;
    background-color: #333;
    padding-block: 0.5em;
    overflow: hidden;
}

.all-content span {
    float: left;
    text-align: center;
    padding-left: 1em;
    text-decoration: none;
    color: white;
}

.ft-txt {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ft-txt a {
    padding-inline: 1em;
}

.back-top {
    float: right;
    padding-right: 1em;
}

.back-top a, .ft-txt a {
    text-decoration: none;
    color: white;
}

.scroll_menu {
    border-bottom: 1px solid #cccccc;
}

.scroll2 {
    display: flex;
    justify-content: center;
}

.category-name {
    flex-grow: 1;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.category-name a {
    text-decoration: none;
    color: black;
}

.category-name:hover {
    background-color: #cccccc;
}