.mini-title {
    display: flex;
    align-items: center;
}

.mini-title a {
    padding-left: 0.5em;
}

.group{
    display:flex;
}

.row {
    width: 33%;
}

.restaurant-div, .plate {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.restaurant-div img, .plate a > img {
    width: 100%;
}

.restaurant-div > p {
    padding: 0;
    margin: 0;
}

.plate-price {
    background-color: black;
    padding: 3px;
    color: white;
    position: relative;
    left: calc(100% - 45px);
    bottom: 30px;
}